<form class="row g-3 needs-validation d-flex justify-content-center" novalidate>
  <div class="col-4">
    <div class="col-12 form-line">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationCustom01" required>
      <div class="invalid-feedback">First name is required</div>
    </div>
    <div class="col-12 form-line">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" required>
      <div class="invalid-feedback">Last name is required</div>
    </div>
    <div class="col-12 form-line">
      <label for="validationCustom04" class="form-label">Interest</label>
      <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        <% Inquiry.interests.keys.each do |i| %>
          <option><%= i %></option>
        <% end %>
      </select>
      <div class="invalid-feedback">Interest is required</div>
    </div>
    <div class="col-12 form-line">
      <label for="validationCustom02" class="form-label">Email</label>
      <input type="text" class="form-control" id="validationCustom02" required>
      <div class="invalid-feedback">
        A valid email is required
      </div>
    </div>
    <div class="col-12 form-line">
      <label for="validationTextarea" class="form-label">Message</label>
      <textarea class="form-control" id="validationTextarea" placeholder="Feel free to share anything here.." rows=5></textarea>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </div>
</form>
