<p>
  Quando sono solo sogno all'orizzonte
</p>
<br>
<p>
  E mancan le parole
</p>
<br>
<p>
  Si lo so che non c' luce
</p>
<br>
<p>
  In una stanza quando manca il sole
</p>
<br>
<p>
  Se non ci sei tu con me, con me
</p>
<br>
<p>
  Su le finestre
</p>
<br>
<p>
  Mostra a tutti il mio cuore che hai accesso
</p>
<br>
<p>
  Chiudi dentro me
</p>
<br>
<p>
  La luce che hai incontrato per strada
</p>
<br>
<p>
  Time to say goodbye paesi che non ho mai
</p>
<br>
<p>
  Veduto e vissuto con te adesso si li vivro
</p>
<br>
<p>
  Con te partiro su navi per mari che, io lo so
</p>
<br>
<p>
  No, no, non esistono piu, it's time to say goodbye
</p>
<br>
<p>
  Quando sei lontana sogno all'orizzonte
</p>
<br>
<p>
  E mancane le parole
</p>
<br>
<p>
  E io s lo so che sei con me, con me
</p>
<br>
<p>
  Tu mia luna tu sei qui con me
</p>
<br>
<p>
  Mio sole tu sei qui con me, con me, con me, con me
</p>
<br>
<p>
  Time to say goodbye paesi che non ho mai
</p>
<br>
<p>
  Veduto e vissuto con te adesso s li vivro
</p>
<br>
<p>
  Con te partiro su navi per mari che, io lo so
</p>
<br>
<p>
  No, no, non esistono piu con te io li rivivro
</p>
<br>
<p>
  Con te partiro su navi per mari che, io lo so
</p>
<br>
<p>
  No, no, non esistono pi con te io li rivivro
</p>
<br>
<p>
  Con te partiro
</p>
<br>
<p>
  Io con te
</p>
