<div class='row d-flex justify-content-around'>
  <p class='sweet-dreams col-8' >
    Sweet dreams are made of this<br>
    Who am I to disagree?<br>
    I've traveled the world and the seven seas<br>
    Everybody's looking for something<br>

    Some of them want to use you<br>
    Some of them want to get used by you<br>
    Some of them want to abuse you<br>
    Some of them want to be abused<br>

    Sweet dreams are made of this<br>
    Who am I to disagree?<br>
    I've traveled the world and the seven seas<br>
    Everybody's looking for something<br>

    Hold your head up<br>
    Keep your head up (movin' on)<br>
    Hold your head up (movin' on)<br>
    Keep your head up (movin' on)<br>

    Hold your head up (movin' on)<br>
    Keep your head up (movin' on)<br>
    Hold your head up (movin' on)<br>
    Keep your head up<br>

    Some of them want to use you<br>
    Some of them want to get used by you<br>
    Some of them want to abuse you<br>
    Some of them want to be abused<br>

    Sweet dreams are made of this<br>
    Who am I to disagree?<br>
    I've traveled the world and the seven seas<br>
    Everybody's looking for something<br>

    Sweet dreams are made of this<br>
    Who am I to disagree?<br>
    I've traveled the world and the seven seas<br>
    Everybody's looking for something<br>

    Sweet dreams are made of this<br>
    Who am I to disagree?<br>
    I've traveled the world and the seven seas<br>
    Everybody's looking for something<br>

    Sweet dreams are made of this<br>
    Who am I to disagree?<br>
    I've traveled the world and the seven seas<br>
    Everybody's looking for something<br>

    Sweet dreams are made of this<br>
    Who am I to disagree?<br>
    I've traveled the world and the seven seas<br>
    Everybody's looking for something<br>
  </p>
</div>
